apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: auth-ingress
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/pratikdawane/Auth-Devops-.git
    targetRevision: main
    path: ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true